* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: #064aaf;
    line-height: 1.6;
    color:#333;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

body > header {
    background: linear-gradient(135deg, #);
}